// COLORS
$color-primary: #f0f5ff;
$color-primary-dark: #6d9dfc;

$color-secondary: #fff5d9;

$color-white: #FFF;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;