// COLORS
$color-primary: #f0f5ff;
$color-primary-dark: #6d9dfc;

$color-secondary: #fff5d9;

$color-white: #FFF;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// CUSTOM-FONT

@font-face {
    font-family: 'BebasNeue-Regular';
    src: url('../css/font/BebasNeue-Regular.eot'); // IE9 Compat Modes
    src: url('../css/font/BebasNeue-Regular.eot?#iefix') format('embedded-opentype'), // IE6-IE8
    url('../css/font/BebasNeue-Regular.woff') format('woff'), // Modern Browsers
    url('../css/font/BebasNeue-Regular.ttf')  format('truetype'); // Safari, Android, iOS 
    // url(BebasNeue-Regular.svg#svgFontName) format('svg'); // Legacy iOS 
}