.header {
    height: 100vh; // takes up whole browser window
    background-image: url(../img/fancystairs.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    -webkit-clip-path: polygon(0 25%, 100% 0, 100% 75vh, 0 100%);
	clip-path: polygon(0 25%, 100% 0, 100% 75vh, 0 100%);

    &__title {  
        position: absolute;
    }

@include group;

}