.heading-primary {

    &--first {
        display: block; //neds correction, wont show up on page 
        top: 20%;
        left: 30%;
        letter-spacing: 2rem;

    }

    &--second {
        display: block; // content not coming up
        bottom: 3rem;
        right: 5rem;

    }
}


.heading-secondary {
    margin-top: 4rem;
    text-align: center;

   
}