.heading-primary {

    &--first {
        display: block;
        top: 20%;
        left: 30%;
        letter-spacing: 2rem;

    }

    &--second {
        display: block;
        bottom: 3rem;
        right: 5rem;

    }
}


.heading-secondary {
    margin-top: 4rem;
    text-align: center;

   
}